/home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12 /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12 /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12_noup
/home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12
/home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12_noup
up weight
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12_noup.data-00000-of-00001 to /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12.data-00000-of-00001
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12_noup.meta to /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12.meta
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12_noup.index to /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-20_04-00-12.index
