/home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37 /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37 /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37_noup
/home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37
/home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37_noup
up weight
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37_noup.data-00000-of-00001 to /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37.data-00000-of-00001
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37_noup.meta to /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37.meta
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37_noup.index to /home/charles/icyChessZero/config/../data/prepare_weight/2022-11-15_23-34-37.index
