/home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51 /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51 /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51_noup
/home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51
/home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51_noup
up weight
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51_noup.data-00000-of-00001 to /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51.data-00000-of-00001
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51_noup.meta to /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51.meta
copying file from /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51_noup.index to /home/charles/icyChessZero/config/../data/prepare_weight/2022-12-24_00-22-51.index
